body{
    background-color: lightcoral;
}

.container{
    width: 100%;
    height: calc(100% - 100vh);
    margin-top:15%;

}
#grid{
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
h3{
    text-align: center;
}